{% extends 'web/base.html' %}
{% load static %}

{% block title %}Arynstal SL{% endblock %}

{% block content %}
    <!-- Hero / Carrusel -->
    <section class="slider  z-10 relative w-full h-[70vh] overflow-hidden shadow-s">
      <div class="slides flex h-full transition-transform duration-700">
        <!-- Slide 1 -->
        <figure class="slides w-full flex-shrink-0 relative">
            <img src="{% static 'dist/img/imgSlide3.avif' %}" class="w-full h-full object-cover" alt="Subestación eléctrica.">          <figcaption class="absolute top-16 left-36 text-white py-2 max-w-6xl">
            <h1 class="text-5xl font-bold text-white drop-shadow-[2px_2px_6px_rgba(0,0,0,0.7)] text-center">
              Reformamos tu hogar o negocio<br/>con detalle y compromiso
            </h1>
          </figcaption>
        </figure>

        <!-- Slide 2 -->
        <figure class="slides w-full flex-shrink-0 relative">
          <img src="{% static 'dist/img/knxImgSlide2M.avif' %}"
            class="w-full h-full object-cover"
            alt="KNX Partners. Construye el futuro en tu hogar.">
          <figcaption class="absolute top-20 right-36 text-white py-2 max-w-6xl">
            <h2 class="text-7xl font-bold text-white drop-shadow-[2px_2px_6px_rgba(0,0,0,0.7)] text-center">
              KNX <br/> PARTNERS
            </h2>
          </figcaption>
        </figure>

        <!-- Slide 3 -->
        <figure class="slides w-full flex-shrink-0 relative">
          <img src="{% static 'dist/img/imgSlide1.avif' %}" 
          class="w-full h-full object-cover object-bottom" 
          alt="Estación eléctrica. Proyecto realizado junto con Elecnor SL.">
          <figcaption class="absolute bottom-80 left-1/4 text-white max-w-6xl">
            <h2 class="text-5xl font-bold text-white drop-shadow-[2px_2px_6px_rgba(0,0,0,0.7)] text-center">
              Años de experiencia de la mano de los mejores
            </h2>
          </figcaption>
        </figure>
      </div>

      <!-- Botones -->
      <button id="btnPrev" class="absolute left-4 top-1/2 -translate-y-1/2 w-12 h-12 flex items-center justify-center bg-white/50 hover:bg-white/80 rounded-full text-2xl z-20">&#10094;</button>
      <button id="btnNext" class="absolute right-4 top-1/2 -translate-y-1/2 w-12 h-12 flex items-center justify-center bg-white/50 hover:bg-white/80 rounded-full text-2xl z-20">&#10095;</button>

      <!-- Dots -->
      <div class="nav-dots absolute bottom-6 left-1/2 -translate-x-1/2 flex gap-3 z-20">
        <button class="dot w-4 h-4 rounded-full bg-white/50"></button>
        <button class="dot w-4 h-4 rounded-full bg-white/50"></button>
        <button class="dot w-4 h-4 rounded-full bg-white/50"></button>
      </div>
    </section>

    <!-- Seccion de introducción -->
    <section class="relative z-0 bg-[rgba(242,242,242,0.8)] backdrop-blur-sm text-center py-16 px-6 -mt-5">
      <h2 class="text-4xl font-bold text-azul-oscuro mb-4">Soluciones técnicas para espacios inteligentes</h2>
      <p class="text-lg text-gris-oscuro max-w-3xl mx-auto">
        En Arynstal SL combinamos experiencia en instalaciones eléctricas con innovación en domótica KNX. Descubre cómo transformamos hogares, oficinas y espacios industriales con eficiencia, seguridad y diseño.
      </p>
    </section>

    <!---- Sección informacion empresa ---->
    <section class="relative z-10 bg-white shadow-[0_-10px_20px_rgba(0,0,0,0.1)] -mt-10 py-16 px-6">

      <!-- Article instalaciones elctricas -->
      <div class="max-w-7xl mx-auto flex flex-col lg:flex-row items-center gap-64 py-10 px-6 lg:px-12">
        <img src="{% static 'dist/img/services/instalacion_electrica.jpg' %}"
            alt="Instalaciones eléctricas"
            class="w-full lg:w-[55%] rounded-lg object-cover max-h-[250px] md:max-h-[350px] lg:max-h-[450px]">
        <div class="lg:w-[45%]">
          <h2 class="text-3xl font-bold text-azul-oscuro mb-4">Instalaciones eléctricas</h2>
          <p class="text-gris-oscuro mb-6">
            Realizamos instalaciones seguras y eficientes en todo tipo de espacios. Cumplimos normativa y garantizamos durabilidad.
          </p>
          <a href="/src/pages/services.html" class="text-acento font-semibold hover:underline">Ver más sobre nuestros servicios</a>
        </div>
      </div>

      <!-- Article domótica KNX -->
      <div class="max-w-7xl mx-auto flex flex-col lg:flex-row-reverse items-center gap-64 py-10 px-6 lg:px-12">
        <img src="{% static 'dist/img/services/domotica_knx.jpg' %}"
         alt="Domótica KNX"
         class="w-full lg:w-[55%] rounded-lg object-cover max-h-[250px] md:max-h-[350px] lg:max-h-[450px]">
        <div class="lg:w-1/2">
          <h2 class="text-3xl font-bold text-azul-oscuro mb-4">Domótica KNX</h2>
          <p class="text-gris-oscuro mb-6">
            Automatiza tu hogar o negocio con tecnología KNX. Controla iluminación, climatización y seguridad desde un solo sistema.
          </p>
          <a href="/src/pages/services.html" class="text-acento font-semibold hover:underline">Ver más sobre nuestros servicios</a>
        </div>
      </div>

      <!-- Article reformas integrales -->
      <div class="max-w-7xl mx-auto flex flex-col lg:flex-row items-center gap-64 py-10 px-6 lg:px-12">
        <img src="{% static 'dist/img/services/reformas_integrales.jpg' %}"
         alt="Reformas integrales"
         class="w-full lg:w-[55%] rounded-lg object-cover max-h-[250px] md:max-h-[350px] lg:max-h-[450px]">
        <div class="lg:w-1/2">
          <h2 class="text-3xl font-bold text-azul-oscuro mb-4">Reformas integrales.</h2>
          <p class="text-gris-oscuro mb-6">
            Reforma tu hogar o negocio.
            </br> 
            Reformamos tu espacio a medida y al detalle, siempre con los mejores precios y materiales del mercado.
          </p>
          <a href="/src/pages/services.html" class="text-acento font-semibold hover:underline">Ver más sobre nuestros servicios</a>
        </div>
      </div>

      <!-- Article proyectos realizados -->
      <div class="max-w-7xl mx-auto flex flex-col lg:flex-row-reverse items-center gap-64 py-10 px-6 lg:px-12">
        <img src="{% static 'dist/img/proyectos/experiencia_calidad.jpg' %}"
            alt="Experiencia y calidad"
            class="w-full lg:w-[55%] rounded-lg object-cover max-h-[250px] md:max-h-[350px] lg:max-h-[450px]">
        <div class="lg:w-1/2">
          <h2 class="text-3xl font-bold text-azul-oscuro mb-4">Experiencia demostrable. Calidad garantizada</h2>
          <p class="text-gris-oscuro mb-6">
            Años de experiencia trabajando con los mejores del sector, ofreciendo resultados fiables y duraderos en cada proyecto.
          </p>
          <a href="/src/pages/projects.html" class="text-acento font-semibold hover:underline">Ver nuestros proyectos</a>
        </div>
      </div>

      <!-- Article sobre nosotros -->
      <div class="max-w-7xl mx-auto flex flex-col lg:flex-row items-center gap-64 py-10 px-6 lg:px-12">
        <img src="{% static 'dist/img/about/nosotros.jpg' %}"
            alt="Sobre nosotros"
            class="w-full lg:w-[55%] rounded-lg object-cover max-h-[250px] md:max-h-[350px] lg:max-h-[450px]">
        <div class="lg:w-1/2">
          <h2 class="text-3xl font-bold text-azul-oscuro mb-4">Sobre nosotros</h2>
          <p class="text-gris-oscuro mb-6">
            Desde nuestros inicios hemos evolucionado gracias a la confianza de grandes empresas del sector.
            Durante años, Arynstal SL ha trabajado como empresa subcontratada de <strong>Elecnor</strong>,
            consolidando nuestra reputación como un socio fiable y comprometido en proyectos de alta exigencia.
          </p>
          <p class="text-gris-oscuro mb-6">
            Esta experiencia nos ha permitido crecer, ampliar nuestro equipo y ofrecer soluciones técnicas cada vez más innovadoras,
            siempre con la calidad garantizada que nos caracteriza.
          </p>
          <a href="/src/pages/about_us.html" class="text-acento font-semibold hover:underline">Conoce nuestra historia</a>
        </div>
      </div>

    </section>
{% endblock %}