{% extends 'web/base.html' %}
{% load static %}

{% block title %}Servicios - Arynstal SL{% endblock %}

{% block content %}

<section class="bg-white box-border py-5">
  <h1 class="text-4xl font-bold text-center text-azul-oscuro mb-8">
    NUESTRAS ÁREAS DE SERVICIO
  </h1>

  <section class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 px-6 justify-items-center mb-10">
    <div class="bg-gris-claro rounded-xl p-6 shadow-md text-center w-full max-w-sm">Servicio 1</div>
    <div class="bg-gris-claro rounded-xl p-6 shadow-md text-center w-full max-w-sm">Servicio 2</div>
    <div class="bg-gris-claro rounded-xl p-6 shadow-md text-center w-full max-w-sm">Servicio 3</div>
    <div class="bg-gris-claro rounded-xl p-6 shadow-md text-center w-full max-w-sm">Servicio 4</div>
    <div class="bg-gris-claro rounded-xl p-6 shadow-md text-center w-full max-w-sm">Servicio 5</div>
    <div class="bg-gris-claro rounded-xl p-6 shadow-md text-center w-full max-w-sm">Servicio 6</div>
  </section>
</section>

{% endblock %}